<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirecting</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <a id="a" href=<%= url %>></a>
    <script>
        console.log("redirecting")
        let sent=0;
        function getIP(json) {
            $.ajax({url:`http://ip-api.com/json/${json.ip}?fields=timezone`, success: function(data){
                const continent=data.timezone.match(/([A-Z])\w+/g)[0]
                document.getElementById("a").href+=`?region=${continent}`
                console.log(document.getElementById("a").href)
                document.getElementById("a").click()   
            }})
        }
    </script>

<script type="application/javascript" src="https://api.ipify.org?format=jsonp&callback=getIP"></script>
</body>
</html>